<?xml version="1.0" encoding="UTF-8"?>
         <configuration debug="true">
         <!-- name的值是变量的名称，value的值时变量定义的值。通过定义的值会被插入到logger上下文中。定义后，可以使“${}”来使用变量。 -->
         <!--<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>-->
        <springProperty scope="context" name="LOG_FILE" source="spring.application.name"/>
        <!--<springProperty scope="context" name="LOG_HOME" source="/home/logs"/>-->
        <property name="LOG_HOME" value="../logs" />
         <!--1. 输出到控制台-->
         <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
             <encoder>
                 <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%line] - %msg%n</pattern>
             </encoder>
         </appender>

         <!--2. 输出到文档-->
         <!-- 2.1 level为 DEBUG 日志，时间滚动输出  -->
         <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
             <!-- 正在记录的日志文档的路径及文档名 -->
             <!--<File>${LOG_FILE}</File>-->
             <!--日志文档输出格式-->
             <encoder>
                 <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%line] - %msg%n</pattern>
             </encoder>
             <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
             <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                 <!--<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log-->
                     <fileNamePattern>${LOG_HOME}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
                 <maxHistory>15</maxHistory>
             </rollingPolicy>
         </appender>

        <appender name="druidlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_HOME}/druidlog/%d{yyyy-MM-dd}.log</FileNamePattern>
                <MaxHistory>30</MaxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%msg%n</pattern>
            </encoder>
        </appender>

        <logger name="druid" level="WARN">
            <appender-ref ref="druidlog"/>
        </logger>
         <logger name="noModule" level="info"/>
         <logger name="org.codehaus" level="info"/>
         <logger name="org.apache" level="info"/>
         <logger name="org.springframework" level="info"/>
<!--         <logger name="druid.sql" level="info"/>-->
<!--         <logger name="com.alibaba" level="debug">-->
<!--         <appender-ref ref="stdout"/></logger>-->
     <logger name="com.springboot" level="debug"/>
     <root level="info">
         <appender-ref ref="stdout"/>
         <appender-ref ref="R"/>
     </root>
 </configuration>
