.idea/
.vscode/
logs/
target/
.txlcn/

*.iml
*.versionsBackup
**/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class

# eclipse ignore
.settings/
.project
.classpath
# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig
*.class

*/.idea/
*/.mvn/
*/target/