<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmiov.framework.sys.organ.mapper.SysOrgMapper">
    <select id="findList" resultType="com.cmiov.framework.sys.organ.entity.SysOrg">
        select * from sys_org t
    </select>

</mapper>