<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmiov.user.mapper.SysOrgRoleRelMapper">
    <select id="findList" resultType="cmiov.user.model.SysOrgRoleRel">
        select * from sys_org_role_rel t
    </select>
</mapper>