<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmiov.framework.sys.role.mapper.SysRoleMapper">
	<sql id="Column_List">
			id,
			code,
			name,
			create_user,
			update_user,
			type,
			create_time,
			update_time,
			tenant_id
	</sql>

	<sql id="where">
		<where>
			<if test="r.name != null and r.name != ''">
				and t.name like concat('%', #{r.name}, '%')
			</if>

			<if test="r.searchKey != null and r.searchKey != '' and r.searchKey=='name'">
				and t.name like concat('%', #{r.searchValue}, '%')
			</if>
		</where>
	</sql>

	<select id="findList" resultType="com.cmiov.framework.sys.role.entity.SysRole">
		select <include refid="Column_List"/>
		from sys_role t
		<include refid="where" />
		order by t.create_time desc
	</select>

	<select id="findOrgRoles" resultType="com.cmiov.framework.sys.role.entity.SysRole">
		select
			sr.id,
			sr.code,
			sr.name,
			sr.create_user,
			sr.update_user,
			sr.create_time,
			sr.update_time
		from
			sys_role sr INNER JOIN sys_org_role_rel sorl on sr.id = sorl.role_id
		where
			sr.delete_flag = 0
		AND
		sorl.org_id = #{orgId}
		order by sr.create_time desc
	</select>
</mapper>